body {
    margin: 0;
    font-family: 'Josefin Sans', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #A7E2E3;
    color: $primary-colour;
    font-size: 20px;
}
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
    overflow:hidden;
    height:100vh;
    margin: 0;
}

*{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    color: $primary-colour;
}



.flex-col-centre{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.flex-row-centre{
    display: flex;
    justify-content: space-evenly;
}

.title{
    position: absolute;
    top: 60vh;
    h1{
    color: $primary-colour;
    margin: 0;
    }
    p{
        color: $primary-colour;
        margin: 1px
    }
    
}

.stage-title{
    position: absolute;
    top: 20vh;
    h1{
    color: $primary-colour;
    font-size: 3rem;
    }
    p{
        color: $primary-colour;
    }
    
}




.page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.landing-container{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
}

// .container-25vh{
//     height:25vh;
// }

// .container-50vh{
//     height:40vh;
//     overflow:auto;
// }