// all button styling


button{
background-color: transparent;
border: 2px solid $sec-colour;
color:$sec-colour;
border-radius: 10px;
padding: 10px;
font-family: 'Josefin Sans', 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
font-size:1.5rem;
font-weight: 600;
line-height: 1;
  
/* States of the Buttomn */
  &:disabled{
    border: 2px solid grey;
    color: grey;
  }

  &:hover{
    background-color: $sec-colour;
    color: $primary-colour;
  }

  &:active{
    background-color: $sec-colour;
    color: $primary-colour;
    transform: scale(0.70);
  }
  
  &:focus {
    background-color: $sec-colour;
    color: $primary-colour;

  }

  /* Media Queries */
  @media (min-width: 37.5em) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.btn-main  {
  position: absolute;
  top: 75vh;
  width: 80vw;
   /* Large, mobile-friendly touch target */
  


  /* Media Queries */
  @media (min-width: 37.5em) {
      width: auto; /* Smaller buttons on larger screens */
  }


}

.btn-small {
  button {
    width: 40px;
  }

  @media (min-width: 37.5em) {
    width: auto; /* Smaller buttons on larger screens */
  }
}

.btn-add  {
  width: 80vw;
   /* Large, mobile-friendly touch target */
  /* Media Queries */
  @media (min-width: 37.5em) {
      width: auto; /* Smaller buttons on larger screens */
  }
}

.btn-del{
  width : 20px;
  font-size: 1rem;
  border: 2px solid $sec-colour;
  padding: 5px;
  
}