// This was just a playground piece of me playing with the backgorund styling using divs. etc. 
// Again this used vw and to make for some cool effects when screen size changes. 


.background-1{
    position: relative;
    
}

.bg-circle{
    position:absolute;
    top:-50vh;
    margin: 0 auto;
    background-color:$sec-colour;
    border-radius: 100vh;
    min-height:100vh;
    min-width:100vw;
    z-index: -1;
    box-shadow: 0px 0px 50px 3px $primary-colour;

    
}

.bg-circle-2{
    position:absolute;
    background-color:$accent-1;
    top:-50vw;
    left: 50vw;
}

.bg-circle-3{
    position:absolute;
    background:$bg-top;
    top: -30vw;
    left: 70vw;
}
.bg-circle-4{
    position:absolute;
    background-color:$accent-2;
    bottom: -50vw;
    left: -50vw;
}
.bg-circle-5{
    position:absolute;
    background:$bg-bottom;
    bottom: -30vw;
    left: -30vw;
}
.outer{
    margin: 0 auto;
    border-radius: 50%;
    min-height:100vw;
    min-width:100vw;
    z-index: -2;


}

.inner{
    margin: 0 auto;
    border-radius: 50%;
    min-height:60vw;
    min-width:60vw;
    z-index: -1;
    

}

