.counter-container{
    padding-top: 10vh;
    padding-bottom: 10vh;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;

}

.counter {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    

}

.counter-value {
    font-size: 10rem;
    
    width: 100px;
   
   


}