body {
    margin: 0;
    font-family: 'Josefin Sans', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #A7E2E3;
    color: $primary-colour;
    font-size: 20px;
}
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
    overflow:hidden;
    height:100vh;
    margin: 0;
}

*{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    color: $primary-colour;
}

h1{
    font-size: 2.0rem;
}
h2{
    font-size: 1.6rem;
}
h3{
    font-size: 1.4rem;
}