

$font: white; // keep this light if bg-colour is dark 
$primary-colour: #394053; // keep this dark 
$sec-colour: white; // this used for button linings etc 
$accent-1: #67aff3; // top ring 
$accent-2: #3069c7; // bottom ring
$bg-colour-1: linear-gradient(to bottom, $bg-top, $bg-bottom); //background
$bg-top: #5ab7ff; // keep it light
$bg-bottom: #0943b8; // keep it darker

