

$font: white;
$primary-colour: #394053;
$sec-colour: white;
$accent-1: #67aff3;
$accent-2: #3069c7;
$bg-colour-1: linear-gradient(to bottom, #5ab7ff, #0943b8);
$bg-top: #5ab7ff;
$bg-bottom: #0943b8;
$bg-colour-2: seagreen;
